{{#each games}}

	<li class='item'>
		{{#if images}}
			<img src='{{images}}' class='images' alt='images' width='400px' />
		{{else}}
			<img
				src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fuxwing.com%2Fwp-content%2Fthemes%2Fuxwing%2Fdownload%2Fsigns-and-symbols%2Ferror-icon.png&f=1&nofb=1&ipt=39d319d80d4149132d677f64fe66bb92f0a56f45938d3657162844a3768874a8'
				class='images'
				alt='images'
				width='400px'
			/>
		{{/if}}

		<h2 class='title'>{{title}}</h2>
		<p class='genere'>{{genre}}</p>
		<p class='plat'>{{platforms}}</p>
		<p class='desk'>{{note}}</p>
	</li>
{{/each}}